<!DOCTYPE html>

<html lang="en">
<head>
    <%- include ./partials/_header.ejs %>
</head>
<body class='center'>
    <%- include ./partials/_topbar.ejs %>
    <h1 class='heading-1 remove-space'>View your URLs</h1>
    <div class='remove-space'>
        Generate a new short URL <a href=<%= "/" + user_id + "/new" %>>here</a>.
    </div>
    <div class='list'>
        <table class='table table-dark'>
            <tr>
                <th class='table-columns'>Short URL</th>
                <th class='table-columns'>Long URL</th>
                <th class='table-columns'>Unique Visits</th>
                <th class='table-columns'>Visits</th>
                <th class='table-columns'>Delete/Edit</th>
            </tr>
            <% for(let shortURL in urls) { %>
                <tr> 
                    <td><%= "localhost:8080/short/" + shortURL %></td>
                    <td>
                        <%= urls[shortURL] %>
                    </td>
                    <td>
                        <%= analytics[shortURL].uniqueVisits %>
                    </td>
                    <td>
                        <%= analytics[shortURL].visits %>
                    </td>
                    <td class='display-in-line'>
                        <form class='small-left-margin' method="POST" action=<%= "/" + user_id + "/urls/" + shortURL + "?_method=DELETE" %>>
                            <button type="submit" value="Delete" class='btn btn-danger btn-sm'>Delete</button>
                        </form>
                        <button type="submit" value="Edit" class='small-left-margin btn btn-primary btn-sm'>
                            <a href=<%= "/" + user_id + "/urls/" + shortURL + "/edit" %> class='anchor-white anchor-white:hover'>Edit</a>
                        </button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
    <%- include ./partials/_bottombar.ejs %>
</body>
</html>
